[2019-11-25 23:07] goneall opened #1 "Change all nullable return values to type Optional"
for NPE prevention

[2019-12-01 20:21] goneall opened #2 "Check for model object types when checking types for collections"
See https://github.com/goneall/Spdx-Java-Library/blob/3b2d3ce1d60a1dbb41ea52df885573a5fa9063c0/src/main/java/org/spdx/library/model/ModelObject.java#L447

[2019-12-27 19:19] goneall commented on #1
Should I only do this for non-required fields even though required fields may be null since we have no control over the document we are reading in?

[2019-12-27 19:19] goneall opened #3 "Create a builder pattern for the objects that have longer parameter lists"
e.g. SPDX Listed License

[2019-12-27 21:40] goneall opened #4 "Change storage interface transaction to enter/exit critical region"
Transactions are not supported in most storage classes, but we can implement the locking.

[2020-01-04 05:33] goneall commented on #4
Resolved with commit 0f869dd

[2020-01-04 05:33] #4 closed

[2020-01-04 05:34] goneall commented on #2
Resolved by adding type checking in the collection object

[2020-01-04 05:34] #2 closed

[2020-01-04 05:34] goneall commented on #1
Resolved

[2020-01-04 05:34] #1 closed

[2020-02-22 18:32] goneall opened #5 "Add delete and garbage collection to storage interface"
There currently isn't a way to delete unused elements.

Add a "delete" method.

Need to track references with some kind of a reference count in the simple storage.

A garbage collection method could be implemented to remove any anonomous unused elements (perhaps just for the simple implementation)

[2020-02-22 18:34] goneall opened #6 "Change storage interface from list to collections"
current implementation of storage uses immutable lists for collections which is now a performance problem when implementing the collections interface in the library.

[2020-03-25 18:05] goneall opened #7 "Add examples"
It would help first time users to create some examples for common library usage.

Some ideas for different examples:
- Creating a document, adding a few files using the [SPDX Model Factory](https://github.com/spdx/Spdx-Java-Library/blob/master/src/main/java/org/spdx/library/model/SpdxModelFactory.java)
- Parsing license expressions using the [SPDX license parser](https://github.com/spdx/Spdx-Java-

[2020-03-25 18:06] goneall commented on #7
If anyone would like to take just one of these issues, add a comment here as to which example you are adding and create a Pull Request with the example implementation.

[2020-03-25 18:08] goneall commented on #6
This was actually resolved a while ago - forgot to close the issue.

[2020-03-25 18:08] #6 closed

[2020-03-25 18:10] goneall commented on #3
See [SpdxFile](https://github.com/spdx/Spdx-Java-Library/blob/master/src/main/java/org/spdx/library/model/SpdxFile.java) for an example of the builder pattern.  This pattern was introduced late in the development of the library.  It would be nice to add this to some of the license classes that were implemented previously.

[2020-03-25 20:02] AnishaSrivastava1411 commented on #7
I am on it.

[2020-03-28 21:43] AnishaSrivastava1411 commented on #7
Hi @goneall,
Please guide me how should to start contributing from the git branch.
I am taking third, SPDX Document Comparer to implement.

[2020-03-29 18:40] goneall commented on #7
@AnishaSrivastava1411 Thanks for taking this on - I would clone this repo to your local repo.  Make the changes there, then create a pull request.  See the [CONTRIBUTING.md](https://github.com/spdx/Spdx-Java-Library/blob/master/CONTRIBUTING.md) file for more info.  If the Contributing file isn't clear, feel free to open an issue with any suggestions.

[2020-03-29 18:43] goneall commented on #7
One more helpful tip on creating the examples - I am currently porting the old spdx tools over to use this new library.  The code may provide some ideas for creating the examples.  Since it is under development, it is in my personal repo at https://github.com/goneall/Spdx-Tools-Java.

Once it is stable enough, I'll move it to the SPDX repo.

[2020-04-28 02:50] goneall opened #11 "Update package checksum verify to allow any checksum algorithm"
Per SPDX spec issue https://github.com/spdx/spdx-spec/issues/282

[2020-04-28 21:45] goneall commented on #11
resolved by PR #13

[2020-04-28 21:45] #11 closed

[2020-08-04 03:21] stevespringett commented on #7
Is it possible to parse an SPDX document and create an object model from it?

I'm looking for a lightweight alternative to SPDX Tools to do this as SPDX Tools has too many dependencies for my liking - many of which are brought in through various command line options or through RDF support.

If and when possible, it would be great to get an example of how to do it with this library.

[2020-08-04 03:37] goneall commented on #7
@stevespringett This is a primary objective for this library.  It is a redesign of the original SPDX libraries intended to reduce the dependencies to a minimum and refactor the code into a number of separate java libraries.

You can find an implementation of XML, JSON, and YAML SPDX parsers in my personal repo at https://github.com/goneall/Spdx-Java-Json-Store  - once it is more tested and stable,

[2020-08-04 03:39] stevespringett commented on #7
Fantastic Gary. I'll be checking it out in the next few weeks.

[2020-09-17 19:32] goneall commented on #5
Resolved by commit 7aa501a

[2020-09-17 19:32] #5 closed

[2020-11-23 16:53] goneall opened #28 "Templates with <<var... tags in a string without spaces does not match correctly"
Since the license matching is tokanized and the var tags assume the regular expression is a token, it likely will not match a string in the middle of an expression.

It will also match when the template has an incorrect space (see LicenseListXML issue https://github.com/spdx/license-list-XML/issues/1146).

[2020-12-30 19:16] goneall opened #29 "License matching should ignore typical comment characters"
As per the License [Matching Guidelines section 6](https://spdx.github.io/spdx-spec/appendix-II-license-matching-guidelines-and-templates/#6-code-comment-indicators), comment characters should be ignored when matching licenses.

Currently, comment characters are not ignored in the license matching algorithm.

[2020-12-30 19:27] goneall commented on #29
The following comment character should be ignored:

- `//`
- `/*`
-`*/`
- 0 or more spaces followed by `*` at the start of the line (e.g. `^\s*\*`)
- `#` at the start of a line
- `'` at the start of a line
- `REM` at the start of a line
- ``

Note: This list does not include the comments for COBOL, FORTRAN or DTD's.

[2020-12-30 19:45] rkosinski941 commented on #29
Hi Gary,

We also see Assembly language which has comments that start with ";".
We're also seeing Haskell now too which has "--" as the comment, but you can also do block comments with "{- -}"

We see PASCAL as well that has "(* *)" as block comments but I don't know if I've actually seen any PASCAL with commenting blocks.

[2020-12-30 22:30] goneall commented on #29
I'll add the Assembly language, Haskell and PASCAL comments to the list.

Thinking about it a bit more, all single line comments and start block comments should only be preceded by white space within a single line.  Similarly, the end block comment will only be followed by white space - otherwise code would be included in the text to be matched.

I'll implement this by matching a regular expressio

[2020-12-30 23:38] goneall commented on #29
After looking at the code, it looks like there has been some implementation of comment handling.  However, it does not work for the regular expression rules since the regular expression is compared to the original text which contains the comments.

To solve this, we should remove the comment strings from the "original text".

[2021-01-09 19:26] amCap1712 commented on #3
Hi @goneall, I have begun some work on this [here](https://github.com/amCap1712/Spdx-Java-Library/commit/4a94c26ddf7fc2859c6cff50fb50a27e7e507d82). I'll add documentation and tests for this and then proceed to find other possible use cases for builders. Do you have more such cases for using builders in mind ?

Also, I felt a little awkward while adding the builder. The large number of possible arg

[2021-01-11 00:46] goneall commented on #3
Hi @amCap1712 Thanks for taking this on.

One suggestion - In the other classes that use builders, I used a slightly different pattern where the builder is passed in as a parameter to a constructor for the class rather than having a method which returns the instantiated class from the builder itself (see https://github.com/spdx/Spdx-Java-Library/blob/7e3223ec6847989d7d6fb3964b9987c6cb896b85/src/ma

[2021-01-11 07:53] amCap1712 commented on #3
I agree with you regarding the compatibility restraints. I noticed the library is still 0.6. I am not aware of how widely it is used and the status section in the README says that it is under development. If the library is mostly used in other SPDX projects, it might be easier to make an incompatible change.

For now, I'll just add the builder and be consistent with the other parts of the code. La

[2021-01-13 20:37] goneall commented on #29
@rkosinski941 I'm going to spin another release over the next couple of days.  If you have any license text we can include as unit tests, attach here and I'll try to make the license matcher work for those cases before the release.

[2021-01-17 17:43] goneall commented on #29
Resolved with PR #30

[2021-01-17 17:43] #29 closed

[2021-01-17 22:59] goneall opened #34 "Release Version 0.7 Checklist"
- [x] Update dependency versions in the pom.xml file
- [x] Update the version in the pom.xml file
- [x] Publish using the command `maven deploy` - this will deploy to the [bintray SPDX tools](https://bintray.com/spdx/spdx-tools)
- [x] Sync the bintray repo with Maven Central
- [x] Tag the repo with the release version
- [x] Publish the release on github

[2021-01-17 23:03] #34 closed

[2021-01-29 21:46] rpavlik opened #35 "SPDX Object Model diagram link in README is dead"
Is this the substitute? https://github.com/spdx/spdx-spec/blob/development/v2.2.1/model/SPDX-UML-Class-Diagram.jpg

You might want to actually link to a specific revision so it won't break again, which would be https://github.com/spdx/spdx-spec/blob/2a7aff7afa089a774916bd5c64fc2cb83637ea07/model/SPDX-UML-Class-Diagram.jpg

[2021-01-30 17:36] goneall commented on #35
Thanks @rpavlik for pointing this out.

Resolved with PR #36

[2021-01-30 17:36] #35 closed

[2021-02-01 23:46] rpavlik commented on #7
For what it's worth, I recently pushed a little app I hacked together (in Kotlin) to parse a tag-value formatted SPDX file and extract filenames whose license data matched a predicate of interest. Worked pretty well once I found the entry points I wanted. Even works with graalvm "native-image" for building a native binary rather than a jar that needs a JRE. https://github.com/rpavlik/khronos-dual-

[2021-02-04 17:55] goneall opened #37 "Normalize thin spaces for license compares"
Comparing licenses which contain thin spaces (e.g. `Technology — Portable`) fails.

This can be resolved by normalizing all thin spaces to regular spaces.

See discussion in the [License List XML PR #1175](https://github.com/spdx/license-list-XML/pull/1175) for reference.

[2021-02-05 19:10] goneall commented on #37
Resolved with PR #38

[2021-02-05 19:10] #37 closed

[2021-02-05 19:11] goneall opened #39 "Change deployments from Bintray to Maven Central and Github packages"
Bintray is retiring their service on May 1.  Prior to retirement, we need to start publishing an alternative package storage provider.

Suggest both Maven Central and Github Packages.

This can be automated using Github actions.  See https://docs.github.com/en/actions/guides/publishing-java-packages-with-maven#publishing-packages-to-the-maven-central-repository-and-github-packages

[2021-02-10 23:03] goneall opened #40 "Performance issue in delete"
The function `InMemSpdxStore.delete(String, String)` takes significant CPU for large documents.

This is due to checking if the element ID is in use.  It basically cycles through all other values stored in all other elements checking.

One possible design approach is to maintain a reference count for each of the element ID's.  Care would need to be taken that these reference counts are maintained

[2021-02-16 22:44] goneall opened #65 "Unexpected behavior comparing SPDX documents with no local LicenseRef text"
When comparing 2 SPDX documents with a LicenseRef containing no text, the comparison of those LicenseRef's is false, but no explanation is given.

We probably do not want them to match since we don't have the text to compare, but we could list them in the Extracted Licenses tab as EMPTY.

[2021-02-25 14:29] stevespringett commented on #39
@goneall I noticed that 0.0.6 was deployed to Central, but 1.0.0 is not.
https://repo1.maven.org/maven2/org/spdx/tools-java/

[2021-02-25 16:57] goneall commented on #39
@stevespringett The tools-java is a separate package which uses the library (spdx-java-library) as a dependency.  I'm working my way through updating all the Java libraries to a 1.0.0 release - it should be available within the next few days.

[2021-02-25 16:59] stevespringett commented on #39
Ah - my mistake. I see 1.0.0 of https://repo1.maven.org/maven2/org/spdx/java-spdx-library/ is infact available on Central.

[2021-04-04 23:20] goneall opened #48 "Normalize commas in license compare"
License text containing Full Width Comma's `U+FF0C` will fail a comparison with text containing a comma `U+002C`.

Based on a [Unicode reference for comma's](https://www.compart.com/en/unicode/U+FF0C), the following Unicode characters should all be considered equivalent:

- `U+002C`
- `U+FF0C`
- `U+FE10`
- `U+FE50`

[2021-04-04 23:25] goneall commented on #48
This issue is causing https://github.com/spdx/license-list-XML/pull/1229 to fail.

[2021-04-24 18:03] rremer commented on #7
Will be using this library soon and can document a few flows. You want me to put some markdown in sec/site and configure the maven-site-plugin against github pages, or how are we publishing documentation?

[2021-04-24 19:40] goneall commented on #7
@rremer adding to src/site with the maven-site-plugin sounds good - thanks!

[2021-05-02 18:05] goneall commented on #48
Resolved with PR #51

[2021-05-02 18:05] #48 closed

[2021-06-09 23:05] ianling opened #53 "Git Download Location regex matcher doesn't meet spec"
Spec: https://spdx.github.io/spdx-spec/3-package-information/#37-package-download-location

Code: https://github.com/spdx/Spdx-Java-Library/blob/c909ebcdbcca06e89a2e406362b261d5b7f1e729/src/main/java/org/spdx/library/SpdxConstants.java#L362

Here is a link to a bunch of test cases that should work according to the spec, but do not: https://regex101.com/r/mb4tWm/1

For reference in case that link d

[2021-06-10 15:55] goneall commented on #53
@ianling Thanks for reporting the issue.  I'm in the process of creating a new release and should be able to get a fix for this within the next few days.

[2021-06-11 04:13] goneall commented on #53
Resolved with PR #54

[2021-06-11 04:13] #53 closed

[2021-06-25 00:34] goneall opened #57 "Performance Optimization Enhancement for Verification"
One way to speed up the verification algorithm is to cache the results of each element being verified.  It will take up more memory, but save having to re-parse and traverse the graph for elements if they are referenced more than once (e.g. within a relationship).

[2021-07-14 03:30] puerco commented on #57
Thanks a lot @goneall I'll give it a go when you cut a new release!

[2021-07-14 03:35] goneall commented on #40
Resolved with PR #56

[2021-07-14 03:35] #40 closed

[2021-07-14 03:37] goneall commented on #57
@puerco I'll be cutting a new release within the next few days - quite a few people have run into this performance issue, so it would be nice to get out a fix especially for the online tools.

[2021-07-14 03:37] goneall commented on #57
Resolved with PR #56

[2021-07-14 03:37] #57 closed

[2021-07-15 02:43] goneall commented on #57
@puerco I just released [version 1.0.2 of the SPDX Tools Java](https://github.com/spdx/tools-java/releases/tag/v1.0.2) which includes a fix for this issue.  Let me know if this resolves the performance issue for you.  If it does resolve the issue, would you mind updating the twitter message with the improved results?

[2021-07-16 17:01] puerco commented on #57
@goneall of course! Thank you very much for fixing this.
https://twitter.com/puerco/status/1416080001775112195

[2021-07-16 17:47] goneall commented on #57
Thanks @puerco for the update.

[2021-08-24 16:34] hoijui opened #61 "Generated RDF files are missing requried property `licenseId`"
Here it sais, that it is a required property:
https://spdx.org/rdf/terms/#d4e3064

And here you can see that it is missing:
https://github.com/spdx/license-list-data/blob/master/rdfturtle/AFL-2.0.turtle
(It seems to be missing in all the formats, not just turtle)

The id string can be found there as the entity identifier, which is good enough for humans, but not machines.

[2021-08-25 10:57] Xenos5282 opened #60 "Ambiguous field names in SPDX Json generated"
In the final JSON generated, there are three different name-value pairs named as "name". This doesn't seem to comply with the SPDX standard, and it lacks precision.

- In the name:value pair "name" : "Example_Document_Name", “name” should be changed to "documentName".
- Within the array hasExtractedLicensingInfos : [ ], "name" : "Example_license_name" is repeated for each licenseId, “name” should

[2021-08-25 12:29] Xenos5282 commented on #60
It is a small fix in different model classes. I have fixed it on my local and I can make the PR as well.

[2021-08-26 18:02] #61 closed, assigned to nobody

[2021-08-30 13:46] alejandro-colomar opened #63 "groff(1) comment syntax is not supported"
As reported in <https://github.com/spdx/license-list-XML/pull/1319>, the comment syntax of groff, and therefore that of the man-pages, isn't supported.

The implementation is here:

<https://github.com/spdx/Spdx-Java-Library/blob/e47801caeabb3148f75975279ba38ccd63260958/src/main/java/org/spdx/utility/compare/LicenseCompareHelper.java#L138>

groff comments basically start with `.\"`.  If I have som

[2021-08-30 18:18] goneall commented on #63
@alejandro-colomar Can you point me to a a typical document with a license I can use for a test case?  I'm working on a new release of the library and may be able to get a fix in before the release.

[2021-08-31 00:15] alejandro-colomar commented on #63
Yes, I'll look it up tomorrow.  Thanks!

[2021-08-31 09:52] alejandro-colomar commented on #63
You can check it in your system:  At least on Debian, you can `zcat /usr/share/man/man2/membarrier.2.gz`

If you need to download it, you could either clone the man-pages repo and find `./man2/membarrier.2`, or you can download just that page from the kernel git repo: <https://git.kernel.org/pub/scm/docs/man-pages/man-pages.git/plain/man2/membarrier.2>

[2021-08-31 20:14] goneall commented on #63
Thanks @alejandro-colomar - I copied the license text and used it for the unit test.

[2021-08-31 20:15] #63 closed

[2021-09-26 18:40] goneall commented on #65
Closing this as "won't fix" - Since license text is required per spec and the tool, the behavior in matching an invalid SPDX document doesn't need to be defined.

[2021-11-02 11:20] shi9qiu opened #66 "[Question] About the parameter of writeToFile method and readFile method"
Hello,

My team is working on enhancing the functionalities of SW360 (https://github.com/eclipse/sw360) - a software component catalog application. We plan to replace the old library used in SW360 with this library. But we are facing some problems so I come here to see if I can get some help.

We are using `writeToFile` method (https://github.com/spdx/Spdx-Java-Library/blob/master/src/main/java/or

[2021-11-02 14:51] goneall commented on #66
@shi9qiu I'm quite happy to help support the use of this library in SW360.

There are 3 implementations of this interface, but they are in different Github repos - you can add them as dependencies to  your project.  The 3 implementations represent 3 different serialization formats for SPDX:
- [SPDX Jackson Store](https://github.com/spdx/spdx-java-jackson-store) supports JSON, YAML and XML formats

[2021-11-02 14:58] goneall commented on #66
@shi9qiu If you would like an example using this library with the above mentioned store, check out the [SPDX Converter utility](https://github.com/spdx/tools-java/blob/master/src/main/java/org/spdx/tools/SpdxConverter.java)

[2021-11-04 01:42] shi9qiu commented on #66
Thank you so much for your speedy reply! We will try it.

[2021-11-04 03:40] nam-np commented on #66
Hello, @goneall
I used this function [createSpdxDocument()](https://github.com/spdx/tools/blob/d5c23fd9fe47f6732239764204f27d1edae6eb94/src/org/spdx/rdfparser/SPDXDocumentFactory.java#L111) for make [SpdxDocument](https://github.com/spdx/tools/blob/d5c23fd9fe47f6732239764204f27d1edae6eb94/src/org/spdx/rdfparser/model/SpdxDocument.java) object from RDF file input, but it is seem not work with large

[2021-11-04 04:43] nam-np commented on #66
And a sample RDF large file https://github.com/eclipse/sw360/files/5984378/SPDX2_linux-4.18.tar.xz_1535128294-spdx.rdf.zip

[2021-11-04 08:59] nam-np commented on #66
I re-checked the library [spdx-tools](https://github.com/spdx/tools) with function [Verify](https://github.com/spdx/tools/blob/master/src/org/spdx/tools/Verify.java) and it used same function [createSpdxDocument](https://github.com/spdx/tools/blob/d5c23fd9fe47f6732239764204f27d1edae6eb94/src/org/spdx/rdfparser/SPDXDocumentFactory.java#L97) for making [SpdxDocument](https://github.com/spdx/tools/bl

[2021-12-08 06:24] goneall opened #69 "Change SpdxPackage hasFile to a RelatedElementCollection"
The hasFile property was deprecated in SPDX 2.0 to be replaced with a CONTAINED relationship between the SpdxPackage and the SpdxFile.

WARNING: Fixing this issue may introduce an incompatibility of the `hasFile` property is used.

The following Spdx Store implementations should be reviewed and possibly modified to remove the use of the `hasFile` property:

- [x] spdx-java-rdf-store
- [x] spdx-jav

[2021-12-08 17:40] goneall commented on #66
@nam-np Were you able to re-check with SW360?  I'm working on a minor release for this library and would like to work in fixes for this if needed.

[2021-12-10 04:45] KoukiHama commented on #66
@goneall @nam-np
SW360 community tried new library,

We got error again.
https://github.com/eclipse/sw360/issues/1171#issuecomment-990610778
https://github.com/eclipse/sw360/issues/1171#issuecomment-990612685

But we found some root problem.
https://github.com/eclipse/sw360/issues/1171#issuecomment-990614065

[2021-12-10 17:37] goneall commented on #66
@KoukiHama Thanks for the update - I left a comment in the SW360 issue.

Let me know if you'd like any help migrating from the old SPDX tools library to this one (I've done it a few times).

Since the issue is an incompatibility between the old library and this library, I'm going to close out this issue since I can't think of any way to resolve it without re-introducing a security vulnerability.

[2021-12-10 17:37] #66 closed

[2022-02-01 18:47] goneall commented on #69
Based on the discussion in the 1 Feb 2022 tech call, this approach will be consistent with SPDX 3.0 and can be merged.

[2022-04-05 10:19] zhaolida98 opened #75 "How to get the SPDX Items by Id?"
Hi,
Currently, we are working on building an SPDX document from scratch. We referred to the example [here](https://github.com/spdx/tools-java/blob/50238d0ada8064116554db5378ea73332c8dc0f5/examples/org/spdx/examples/SimpleSpdxDocument.java). Everything goes fine until we need to refer to a package that has already been created. We do this because we construct the graph structure from top to bottom.

[2022-04-06 01:14] goneall commented on #75
Greetings – To create a model object for an existing package, simply create the package passing in the model store, copy manager, document URI and the ID of the package you want to reference.

For example: `SpdxPackage pkg = new SpdxPackage(modelStore, documentUri, spdxId, copyManager, false);`

I’ll create a new example for deseralizing existing documents and include some comments on how to acces

[2022-04-06 01:32] goneall commented on #75
I just added an [example for accessing an existing document](https://github.com/spdx/tools-java/blob/master/examples/org/spdx/examples/ExistingSpdxDocument.java) which should provide a few more hints on how to access existing elements.

[2022-04-06 03:22] zhaolida98 commented on #75
Thanks for the new example, it helps a lot. I really appreciate your fast response.
One more question, I am adding relationships by the following format
[code]
I learn that from source code and give it a lot of tries. Am I on the right path? If so, I suggest you also add examples for creating relationships in [the example here](https://github.com/spdx/tools-java/blob/master/examples/org/spdx/examp

[2022-04-06 15:55] goneall commented on #75
Yes - you are on the right path.  Good suggestion on adding to the examples.  Feel free to create a PR with updated examples or I'll try to get to it later this week.

[2022-04-08 03:35] zhaolida98 commented on #75
Hi, I created a pull request [here](https://github.com/spdx/tools-java/pull/55), please have a look.

Also, I am wondering if we can any some self-defined properties to the spdx document? For example, we would like to keep the branch information for projects from github. We find nowhere to keep such information. Maybe they are not part of the standard, but we may need them in some situations. Is t

[2022-04-08 16:24] goneall commented on #75
@zhaolida98 Thanks for the PR!

There are 2 ways to add additional information to elements in the SPDX documents.  The preferred approach is to create an Annotation of type `OTHER` and put the information in the Annotation comment.

The other approach is to add the information in the `comment` property.

For Package Manager information, you can use the [External reference](https://spdx.github.io/s

[2022-04-12 03:12] #75 closed

[2022-04-12 06:24] zhaolida98 opened #76 "Where to put the vulnerabilities"
Hi, I am wondering where to put the Vulnerabilities or CVE info for SBOM packages. In the official document, such reference should be put in [external reference](https://spdx.github.io/spdx-spec/external-repository-identifiers/#f2-security), but only two types are provided. None of them are suitable for CVE. However, the [example here](https://github.com/spdx/spdx-spec/blob/vulnerability-profile/e

[2022-04-13 16:44] goneall commented on #76
@zhaolida98 The [SPDX 3.0 vulnerability example](https://github.com/spdx/spdx-spec/blob/vulnerability-profile/examples/SPDXVulnerabilityJSONExample-v3.0.spdx.json) is for SPDX 3.0 which is a work in progress and not yet release.

There is a subgroup actively working on adding vulnerability information for an upcoming release of SPDX 2.3.  This issue tracks adding the vulnerability information:  ht

[2022-04-29 18:51] ianling opened #78 "Git Download Location regex matcher edge cases missed"
Same issue as #53, just ran into another edge case: https://regex101.com/r/LQrrUU/1

[code]

[2022-05-03 09:15] sschuberth opened #79 "Convert throws "I/O error opening Json TOC URL""
When trying to convert a tag-value document to YAML I get

[code]

Can this by due to the system proxy not being support? If so, would it maybe make sense to add proxy support e.g. via https://github.com/MarkusBernhardt/proxy-vole?

[2022-05-03 15:32] goneall commented on #79
Definitely a different issue.  Maybe a classpath issue getting access to the resources files?

I do test this scenario on my local dev environment by running the unit tests disconnected from the internet - but I recall problems in the past which are classpath related.

Interesting - You might try just the Java library and see if that builds.  Much much less dependencies.  I use Eclipse myself for

[2022-05-18 21:42] goneall opened #85 "Respect versions when validating, opening, and saving SPDX documents"
SPDX 2.2 files should validate differently than SPDX 2.3 which relaxes some of the required fields.

[2022-06-24 17:37] goneall commented on #85
Resolved with PR #87

[2022-06-24 17:37] #85 closed

[2022-06-24 17:49] goneall commented on #79
@sschuberth I'm working on a new release and started looking at using [proxy-vole](https://github.com/MarkusBernhardt/proxy-vole).  I'm concerned about the number of dependencies this library will bring in, especially delight-nashorn-sandbox.

I'll work on updating the logging so the messages are a bit more accurate, but at this point I'm thinking we don't add proxy support unless we can find a li

[2022-06-24 17:56] sschuberth commented on #79
Yeah, that's probably for PAC file paring, which is might be overkill anyway.

[2022-06-24 22:12] goneall commented on #79
I updated the error message to be more descriptive in PR #88

`Unable to access the most current listed licenses from https://spdx.org/licenses - using locally cached licenses: [cause]`

[2022-06-24 22:14] #79 closed

[2022-06-24 22:15] goneall opened #89 "Update license cache to the most recent version"

[2022-06-24 22:30] #78 closed

[2022-06-24 22:33] goneall commented on #76
@zhaolida98 We are about to release version 2.3 which includes some additional vulnerability external reference types.

See the [draft section on including security information](https://github.com/spdx/spdx-spec/blob/development/v2.3/chapters/how-to-use.md#g1-including-security-information-in-a-spdx-document).

Since the libraries are now updated with the 2.3 spec, I'll close this issue as resolve

[2022-06-24 22:33] #76 closed

[2022-06-24 22:39] goneall commented on #89
Fixed with PR #91

[2022-06-24 22:39] #89 closed

[2022-08-11 18:24] goneall commented on #69
Resolved

[2022-08-11 18:24] #69 closed

[2022-08-25 19:55] richardfontana opened #98 "SPDX check-license incorrectly identifies MPL-2.0 text as "MPL-2.0-no-copyleft-exception""
I hope this is the right place to report this issue.

I think the issue here is that the standard MPL-2.0 text includes the text of the statement you're supposed to use if you *want* to invoke the non-default GPL-incompatibility feature, as an exhibit. It's possible the problem here is with the SPDX markup for MPL-2.0-no-copyleft-exception, I haven't looked at that.

Actually, if you paste the ful

[2022-09-19 17:56] raleigh04 opened #103 "NumberFormatException when parsing SPDXID larger than MaxInt"
When faced with with an SPDXID larger than java's max int, tools-java throws a NumberFormatException:

Example:

   `"SPDXID": "SPDXRef-6996049013223528",`

   Throws:

   `Error converting: Error converting SPDX file: class java.lang.NumberFormatException For input string: "6996049013223528"`

[2022-09-21 07:07] #103 closed

[2022-09-21 07:09] goneall commented on #103
@raleigh04 This will be fixed in the next release.

You should be able to work around this issue by doing a search/replace of `SPDXRef-` with `SPDXRef-x` where x is any non-numeric character.

[2022-09-21 08:56] goneall commented on #98
I looked into this a bit further and it is indeed a markup issue for the `MPL-2.0-no-copyleft-exception` license.

Both exhibits (A and B) are wrapped in an `<optional>` which I believe would account for this issue.

Moving back to the License List XML repo.

[2022-09-21 09:50] nicoweidner opened #105 "ModelObject#equivalent(ModelObject other) is not symmetric"
Here is a short minimal example of a test that passes (using JUnit and AssertJ, should be readable as-is). I skipped the creation of the two `SpdxFile` instances, as it's not really relevant and I haven't found a good way to create a copy programmatically (`clone` and `copyFrom` don't work). The important part is that the two files are identical initially except for using different model stores.
F

[2022-09-21 11:04] nicoweidner commented on #105
I'll put up a PR for this; can't assign the issue to myself though.

[2022-09-23 07:51] nicoweidner opened #107 "ModelObject#clone does not copy properties"
Currently, [ModelObject#clone](https://github.com/spdx/Spdx-Java-Library/blob/master/src/main/java/org/spdx/library/model/ModelObject.java#L993-L999) creates a clone of the instance it is called on inside the passed model store. It does not copy any properties of the original object. The properties of the new object will be:
- Empty in case the object did not exist already in the new store
- The c

[2022-09-23 12:14] nicoweidner opened #108 "Comparing IndividualUriValues in ModelObject#listsEquivalent may be broken?"
While reading code, I noticed [this part of the list comparison](https://github.com/spdx/Spdx-Java-Library/blob/5d9fbc5aed6d244921ae392bb8840066eba08fd7/src/main/java/org/spdx/library/model/ModelObject.java#L942-L943) that seems weird to me. Here is my understanding of what's going on in general:
- we iterate over `list1`
- for each element, we try to find an element of `list2` that is equivalent

[2022-09-23 14:12] armintaenzertng opened #109 "Copyright text field is not mandatory anymore in v2.3"
As of v2.3, `copyrightText` is not mandatory anymore for packages, files and snippets. Instead, it is stated [in the specification](https://spdx.github.io/spdx-spec/v2.3/package-information/#717-copyright-text-field):

`ModelObject#createPackage`, `ModelObject#createSpdxFile` and `ModelObject#createSpdxSnippet` all still require a String `copyrightText`. When set to `null`, the `.verify()` method

[2022-09-23 14:17] armintaenzertng commented on #109
Sorry, I just noticed that my spdx document was set to v2.2...
Setting it to 2.3 does not log any errors anymore.

[2022-09-23 14:17] #109 closed

[2022-09-23 15:44] #105 closed

[2022-09-23 16:03] armintaenzertng opened #111 "No methods for setting attribute texts when building snippets"
Both the `SpdxFileBuilder` and the `SpdxPackageBuilder` have methods `setAttributionText` and `addAttributionText`. According to the [specification](https://spdx.github.io/spdx-spec/v2.3/snippet-information/#911-snippet-attribution-text-field), snippets support attributions, too, so it would be convenient to have them accessible in the builder.

[2022-09-23 16:20] goneall commented on #108
@nicoweidner Excellent catch - thanks for the review!

For most of the cases, the previous check for contains will return true even if it is a `IndividualUriValue`.  The extra check is primarily for external references (the enum implementations will likely be caught by the previous check).

I'm thinking we could fix this specific issue by changing the class check from:

[code]

to:

[code]

Lookin

[2022-09-23 18:59] raleigh04 commented on #103
Thank you!

[2022-09-24 06:11] goneall commented on #108
After thinking about this a bit more, I'm pretty convinced anything that implements `IndividualUriValue` should override equals/hashcode to use the URI value for equality.  The one exception is is the class implementing `IndividualUriValue` inherits from `ModelObject` which already overrides `equals` using the ID for equality.

@nicoweidner I'll create a PR with the changes for this.  If you have

[2022-09-24 16:56] goneall commented on #108
@nicoweidner I created a PR to update equals for `IndividualUriValue`s.

In thinking about this some more, `SimpleUriValue` is typically only used when storing a property - when it is re-inflated back to a model object, it is typically cast to the appropriate type.  So this it will not likely cause a problem in practice.  That being said, it is a bug since the `SimpleUriValue` may be used for othe

[2022-09-24 17:56] #111 closed

[2022-09-26 10:27] nicoweidner opened #114 "ModelObject#listsEquivalent is not symmetric"
Split off from https://github.com/spdx/Spdx-Java-Library/issues/108 as there were two issues raised there:

One additional issue I realized: Since we are checking for equivalence, not equality, we need to check equivalence in both directions. Else the listsEquivalent function is not symmetric.
Example: We have list1 = [element11, element12] and list2 = [element21, element22], where element11, elem

[2022-09-26 11:02] nicoweidner commented on #108
Ah, you are right that the previous check should catch various `IndividualUriValue` implementations. I completely missed that when looking at the two lines about `IndividualUriValue` in isolation :sweat_smile: . In the end, it boils down to how the `equals` method works in each case. All enum implementations should be fine.

I will think about how the other cases behave. It probably makes more sen

[2022-09-26 16:21] #107 closed

[2022-09-27 13:43] armintaenzertng opened #115 "Duplicate documentDescribes relation when generating documents with the MultiFormatStore"
[code]
The above code produces an SPDX document that contains the following lines:
[code]
i.e. the reference to fileA appears twice. The same happens for the other format types for the MultiFormatStore, but not when using the RdfStore or the TagValueStore.

[2022-09-27 14:03] vargenau opened #124 "Valid SPDX file is missing LicenseRef- definition"
The file below was generated by SCANOSS (in JSON then I converted to tag:value with online tool).

It contains the line:
[code]
but ```LicenseRef-scancode-unknown-license-reference``` is not defined in the file.

So I consider the file invalid. The validator should at least issue a warning. What do you think?

[phpwiki.spdx.txt](https://github.com/spdx/spdx-online-tools/files/9656613/phpwiki.spdx.

[2022-09-27 15:50] armintaenzertng opened #116 "What is the value of documentNamespace?"
[code]
The code above creates a minimal SpdxDocument, serializes it and then deserializes it again.

Take note of the two assertion statements:
Before serialization, there is no value named `documentNamespace` saved in the modelStore.
After deserialization, the value has been set to that of the `documentUri`.

Thus, one of the procedures -- either generating a document from scratch or deserializin

[2022-09-27 17:20] goneall commented on #115
@armintaenzertng Thanks for the additional analysis.  This could be an issue in the library or in the MultiFormatStore.  Good to know it is not an issue in the tag/value store as I originally suspected.

[2022-09-28 13:27] armintaenzertng commented on #116
I suggest adding `SpdxConstants.PROP_DOCUMENT_NAMESPACE` to `SKIPPED_PROPERTIES` [here](https://github.com/spdx/spdx-java-jackson-store/blob/3e101f12f5292d2edd36a4bd4ccc1e3f300e66fc/src/main/java/org/spdx/jacksonstore/JacksonDeSerializer.java#L69)

This way it will get ignored [here](https://github.com/spdx/spdx-java-jackson-store/blob/3e101f12f5292d2edd36a4bd4ccc1e3f300e66fc/src/main/java/org/spd

[2022-09-28 15:02] goneall commented on #115
I've isolated this down to the SPDX Java Jackson store.

I created 2 unit tests:
- PR #118 show documentDescribes working for the library itself
- https://github.com/spdx/spdx-java-jackson-store/pull/36 shows the serialization when using the `MultiFormatStore` duplicates the describes

[2022-09-28 15:02] goneall commented on #115
Moving this over to the SPDX Java Jackson store repo

[2022-09-28 15:08] goneall commented on #116
Agree

These are the same - the reason for the `documentNamespace` in the serialized document is to have a place to store it even though it is not technically a property of the document itself.  This isn't needed in some formats, like RDF, which natively support namespaces.

That does look like a good solution.

@armintaenzertng - did you want to do a pull request and see if it passes all the unit

[2022-09-28 15:13] armintaenzertng commented on #116
all right, I will do that tomorrow! :)

[2022-09-28 20:28] nicoweidner opened #119 "Missing protection against duplicate id's"
Yet another technical issue incoming...

It is possible to create an instance of `ModelObject` using an id that is already in use. In that case, data in the model store will be untouched during instance creation, but will be changed when using the corresponding methods on the instance.
As an example, let's assume that `id` is not present in the model store before the following lines:
[code]
What h

[2022-09-29 05:21] goneall commented on #119
Yikes.  A bit of a design flaw.  Thanks @nicoweidner for pointing this out.  This is probably a root cause of a few issues.

The change you proposed is very logical, but as you point out it is potentially breaking since the semantics.

I wonder if there may be another interface option that would preserve the existing semantics.

I was thinking of using the `strict` flag to force errors is the ID a

[2022-09-29 05:26] goneall commented on #119
One thought is to add a new constructor with different semantics and deprecate the old one.  We could add a `strict` parameter, for example.  It would require, however, updating a lot of code.

The idea behind the `strict` parameter is, if it is set to true then the call will fail if the ID already exists.  Otherwise, it would behave the way it does today.  This is similar to how the library treat

[2022-09-29 05:58] goneall commented on #119
@nicoweidner I came up with another (partial) solution we could implement with low risk.

If `create` is true and there is another `ModelObject` in the store with the same ID, check to see if the type of the `ModelObject` in the store is the same as type type of the newly created `ModelObject`.  We could fail if they are different types.

This would preserve the semantics of re-using an `ModelObje

[2022-09-29 08:57] armintaenzertng opened #120 "No crossRef on an extractedLicenseInfo?"
According to [spec](https://spdx.github.io/spdx-spec/v2.3/other-licensing-information-detected/#104-license-cross-reference-field), an `extractedLicenseInfo` has the property LicenseCrossReference  which I assumed to be implemented by the class [CrossRef](https://github.com/spdx/Spdx-Java-Library/blob/06ffee5e3754400a36dbb2f652d814c92e228e87/src/main/java/org/spdx/library/model/license/CrossRef.ja

[2022-09-30 12:43] nicoweidner commented on #119
@goneall Given the current situation, I prefer your latest suggestion of failing when someone tries to create an object with the same id, but of different type. That should prevent all the bad scenarios, and is little effort.

[2022-09-30 13:44] armintaenzertng commented on #116
I just tested it locally, the issue is resolved :)

[2022-09-30 13:44] #116 closed

[2022-10-01 15:47] goneall commented on #120
@armintaenzertng - the `seeAlso` collection maps directly to the tag LicenseCrossReference.

`CrossRef` is actually for a different purpose.  It is used to record more detail about the the URL's listed in the Listed Licenses web page (e.g. if they are live).  It should only be used for listed licenses today.

There is an issue in the spec repo to document these fields: https://github.com/spdx/spdx

[2022-10-01 16:32] #108 closed

[2022-10-02 02:57] goneall commented on #119
Fixed (mostly) with PR #121

[2022-10-02 02:57] #119 closed

[2022-10-04 03:03] #124 closed

[2022-10-05 11:43] nicoweidner opened #126 "Reference count is not decreased in certain situations"
While writing test cases for a tool, I ran into a confusing scenario. I might be misunderstanding something, so I'll describe the situation as detailed as possible.

- To start with, I have a basic document describing a file (this is used as basis for many test cases). The file is added like this:
[code]
- During debugging, I verified that this `add` call adds a relationship to the document and in

[2022-10-05 17:05] goneall commented on #126
@nicoweidner - This looks like a bug.  I'm guessing there is missing logic in the `getDocumentDescribes().remove(file)`.

I'll look into a fix.

I'm 1/2 way through a release of the tools - let me know if it is important to include a fix for this in the next release.

[2022-10-05 18:13] goneall commented on #126
@nicoweidner The issue was we were not removing the unused relationship in the relationship collection.

PR #127 should fix this.  Please review.

Note that this can be worked around by deleting the relationship created on the call to `document.getDocumentDescribes().add(file)`.

[2022-10-06 07:45] nicoweidner commented on #126
@goneall Thanks! I did a quick local test run with the changes (using the test described above) and it worked.

Side remark: Before using the new changes, I tried removing the relationship before deleting the file, but that did not work. The relationship was gone after this line, but deletion still failed because of reference count being one.
[code]

And finally: From my side, this is not really i

[2022-10-06 07:52] armintaenzertng commented on #120
ok then, if `seeAlso` is fine, I just got confused due to the different naming conventions in the spec and the code.

Thanks for clarifying! :)

[2022-10-06 07:52] #120 closed

[2022-10-06 21:44] #126 closed

[2022-10-11 10:15] armintaenzertng opened #130 "License information in file should not be mandatory"
According to [spec](https://spdx.github.io/spdx-spec/v2.3/file-information/#86-license-information-in-file-field), the field "License information in file" can be omitted.
This clashes with [the SpdxFileBuilder](https://github.com/spdx/Spdx-Java-Library/blob/master/src/main/java/org/spdx/library/model/SpdxFile.java#L372) where `licenseInfosFromFile` is required to be non-null.

[2022-10-11 15:57] goneall commented on #130
@armintaenzertng Good catch - I probably missed this update when updating for the SPDX 2.3 spec update.

[2022-10-13 08:13] armintaenzertng opened #131 "LicenseRef-gnrtd placeholder when using ExtractedLicenseInfo"
When using
[code]
I get (as expected) `LicenseRef-1` in my output SPDX document when using `licenseRef1`.

On the other hand, when using
[code]
I get the expected lines
[code]
but get `LicenseRef-gnrtd0` everywhere else in the output document.

If this is actually intended behaviour, I would like to know how to reference the extractedLicenseInfo correctly such that the license shows as `LicenseRef

[2022-10-13 08:38] maxhbr commented on #131
Can you add an example document and a minimal full code example?

[2022-10-13 09:11] armintaenzertng commented on #131
[code]

yields

[code]

[2022-10-13 17:08] goneall commented on #131
This is not the intended behavior.  I'll take a look and see what's going on in the code.

[2022-10-13 19:05] goneall commented on #131
In looking a bit closer - the library is working correctly.

The issue is you are using the default model store for the license parser.

In your above example, change:

[code]

to:

[code]

A bit more background and context.  Anytime you create a `ModelObject` it is stored in a `ModelStore`.  This includes `ExtractedLicenseInfo`.  When you created your `ExtractedLicenseInfo`, you specified a speci

[2022-10-14 13:12] nicoweidner opened #134 "Cannot use ExternalExtractedLicenseInfo"
Disclaimer: I don't have a good understanding of the "external" entities `ExternalExtractedLicenseInfo` and `ExternalSpdxElement`, but was rather following the code.

I tried to use a `ExternalExtractedLicenseInfo` in a document, adding it to the list of extractedLicenseInfos, and to serialize that doc to json. Then `doc.verify()` passes, but when trying to serialize to json, the error `Extracted

[2022-10-14 18:35] #130 closed

[2022-10-19 13:18] meretp opened #135 "verification of tag-File fails because of used ID"
I try to use tools-java to verify this [file](https://github.com/spdx/tools-python/blob/main/data/SPDXSimpleTag.tag) from tools-python. But when I execute the command
[code]
  I get the the following error:

[code]

Since the error comes from InMemSpdxStore I decided to open the issue in this repo.

[2022-10-22 23:11] goneall commented on #134
@nicoweidner I made a PR #137 which refactors the `ExtractedLicenseInfo` and `ExternaExtractedLicenseInfo` to inherit from an `AbstractExtractedLicenseInfo` class.

I also added some more documentation to the Javadocs which hopefully helps make this less confusing.

I don't think this will cause any incompatibilities since it would be very uncommon to have code using an `ExtractedLicenseInfo` clas

[2022-10-25 15:02] goneall commented on #134
@nicoweidner - Let me know if you think PR #137 helps solve this issue.  I'm planning on a new release of the library and trying to decide if this should be included.

[2022-10-27 13:11] nicoweidner commented on #134
Sorry, too many things going on, this dropped off my radar :sweat_smile: . I'll go have a look now.
IIRC, I didn't even have a case using `SpdxElement`, in that case it was a purely theoretical concern. So I think it's fine to fix only the `ExtractedLicenseInfo` part for now

[2022-10-27 18:13] #134 closed

[2022-10-27 18:15] goneall commented on #134
Thanks @nicoweidner for the reviews and comments!

[2022-11-26 19:07] goneall opened #139 "Add an option to exclude listed license details"
Currently, when serializing an SPDX document all properties for listed licenses are copied into the serialized file.  Although this can be convenient when you want to access the properties without having to refer to the listed license RDF files accessible through RDFa on the [spdx.org/licenses](http://spdx.org/licenses) or through other RDF formats in the [spdx-license-data](https://github.com/spd

[2022-11-28 04:19] #139 closed